.PartOne {
  width: 50%;
  padding: 0 0 0 60px;
}

.CTA {
  padding: 18px;
  color: black;
  border: 1px solid black;
  border-radius: 12px;
  background-color: white;
  margin-right: 15px;
  font-weight: 600;
  align-content: center;
}

.CTA:hover {
  background-color: white;
  border: 1px solid #0d60d8;
  color: #0d60d8;
}

img {
  margin-right: 5px;
}

h1 {
  font-family: U8-Bold, sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 82px;
  color: #0c1825;
}

p {
  color: #353535;
  font-family: DM Sans, sans-serif;
  font-size: 16.5px;
  line-height: 27.2px;
}

.cfa {
  margin: 20px 0 30px 0;
}

@media screen and (max-width: 950px) {
  .PartOne {
    width: 80%;
    text-align: center;
    padding: 0;
    margin: auto;
  }

  h1 {
    font-size: 50px;
    line-height: 55px;
  }
}

@media screen and (max-width: 520px) {
  .CTA {
    margin-top: 15px;
    margin-right: 0;
  }

  h1 {
    font-size: 40px;
  }
}
